<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>react</title>
</head>
<body>
    <div id="app">{{ message }}[[message]]</div>
    <script src="https://unpkg.com/systemjs/dist/system.js"></script>
    <script type="module">
    import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        setup() {
        const message = ref('Hello Vue!')
        return {
            message
        }
        }
    }).mount('#app')
    const data = import('/data.js');
    data.then(res=>{
        console.log(res.default, 2222)})
    </script>
    <script type="nomodule">
        console.log('不支持模块化')
        System.import('/data-bundle.js').then(res=>{
            console.log(res.default, 2222)})
    </script>
</body>
</html>